In [1]:
import findspark
findspark.init()

import builtins
import math
import datetime as dt
import holidays
import geohash
import os.path as osp

from pyspark import keyword_only, StorageLevel
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml import Transformer, Pipeline

from utils import TimestampTransformer, GeohashTransformer

In [2]:
sess = SparkSession.builder \
                   .master("local[*]") \
                   .config("spark.driver.memory", "32g") \
                   .getOrCreate()

In [3]:
df = sess.read.parquet('./luftdaten.info.20180117.parquet/')
df.printSchema()
print(df.count())

root
 |-- sensor_id: integer (nullable = true)
 |-- sensor_type: string (nullable = true)
 |-- location: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- P1: double (nullable = true)
 |-- durP1: double (nullable = true)
 |-- ratioP1: double (nullable = true)
 |-- P2: double (nullable = true)
 |-- durP2: double (nullable = true)
 |-- ratioP2: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- altitude: double (nullable = true)
 |-- pressure_sealevel: double (nullable = true)

649471354

In [4]:
df.sample(fraction=100 / df.count(), withReplacement=True).toPandas()

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2,temperature,humidity,pressure,altitude,pressure_sealevel
0,49,PPD42NS,22,48.585,8.832,2015-11-29 22:15:59.094,137.35,79026.0,0.26,0.62,0.0,0.0,NaN,NaN,NaN,None,None
1,48,DHT22,19,48.722,9.209,2016-05-22 17:29:47.251,NaN,NaN,NaN,NaN,NaN,NaN,27.20,38.20,NaN,None,None
2,5520,DHT22,2782,52.361,10.011,2017-12-13 03:24:33.000,NaN,NaN,NaN,NaN,NaN,NaN,17.50,47.70,NaN,None,None
3,374,DHT22,174,23.669,120.178,2017-01-15 10:04:04.000,NaN,NaN,NaN,NaN,NaN,NaN,20.60,50.10,NaN,None,None
4,337,SDS011,157,52.380,9.670,2017-12-07 09:05:09.000,10.60,NaN,NaN,9.77,NaN,NaN,NaN,NaN,NaN,None,None
5,257,SDS011,112,48.791,8.964,2017-04-19 18:30:28.000,11.67,NaN,NaN,9.67,NaN,NaN,NaN,NaN,NaN,None,None
6,263,SDS011,115,47.738,9.117,2017-01-14 15:11:08.000,4.78,NaN,NaN,2.37,NaN,NaN,NaN,NaN,NaN,None,None
7,553,SDS011,59,48.777,9.157,2017-04-07 10:57:57.000,41.47,NaN,NaN,24.76,NaN,NaN,NaN,NaN,NaN,None,None
8,554,SDS011,263,48.490,9.201,2017-11-02 10:46:36.000,8.69,NaN,NaN,4.81,NaN,NaN,NaN,NaN,NaN,None,None
9,731,SDS011,350,48.058,12.570,2017-03-05 18:20:22.000,26.25,NaN,NaN,12.50,NaN,NaN,NaN,NaN,NaN,None,None
10,745,SDS011,357,50.841,13.081,2017-02-27 10:52:35.000,6.30,NaN,NaN,2.83,NaN,NaN,NaN,NaN,NaN,None,None
11,5643,DHT22,2843,52.208,8.113,2018-01-01 02:08:24.000,NaN,NaN,NaN,NaN,NaN,NaN,8.10,77.00,NaN,None,None
12,1175,DHT22,576,48.418,10.073,2017-04-25 00:27:31.000,NaN,NaN,NaN,NaN,NaN,NaN,11.40,53.00,NaN,None,None
13,211,SDS011,42,48.800,9.003,2017-03-07 04:10:07.000,17.60,NaN,NaN,15.44,NaN,NaN,NaN,NaN,NaN,None,None
14,1225,DHT22,602,48.000,7.839,2017-04-04 09:42:06.000,NaN,NaN,NaN,NaN,NaN,NaN,16.90,49.40,NaN,None,None
15,176,DHT22,76,48.775,9.239,2017-03-13 14:46:20.000,NaN,NaN,NaN,NaN,NaN,NaN,15.20,28.20,NaN,None,None
16,5248,DHT22,2644,52.420,13.580,2017-10-15 19:42:42.000,NaN,NaN,NaN,NaN,NaN,NaN,14.50,99.30,NaN,None,None
17,364,DHT22,173,48.718,9.274,2017-06-23 17:25:16.000,NaN,NaN,NaN,NaN,NaN,NaN,31.90,33.10,NaN,None,None
18,510,DHT22,241,48.511,9.060,2017-03-12 08:28:22.000,NaN,NaN,NaN,NaN,NaN,NaN,2.90,73.40,NaN,None,None
19,452,SDS011,213,48.560,9.207,2017-04-26 03:48:25.000,19.38,NaN,NaN,12.03,NaN,NaN,NaN,NaN,NaN,None,None
20,226,DHT22,64,48.741,9.322,2016-11-18 02:33:17.316,NaN,NaN,NaN,NaN,NaN,NaN,9.50,72.20,NaN,None,None
21,6770,BME280,3422,41.396,23.184,2017-11-25 21:24:52.000,NaN,NaN,NaN,NaN,NaN,NaN,4.31,81.50,100340.97,None,None
22,4619,BME280,2322,42.604,23.496,2017-11-19 12:21:07.000,NaN,NaN,NaN,NaN,NaN,NaN,6.59,77.19,93337.86,None,None
23,1776,BME280,885,42.626,23.200,2017-06-16 18:01:28.000,NaN,NaN,NaN,NaN,NaN,NaN,20.46,61.50,91652.89,None,None
24,608,DHT22,291,48.957,9.437,2017-07-21 13:44:58.000,NaN,NaN,NaN,NaN,NaN,NaN,32.80,30.40,NaN,None,None
25,4794,SDS011,2411,47.060,15.064,2017-11-04 07:55:50.000,18.17,NaN,NaN,14.60,NaN,NaN,NaN,NaN,NaN,None,None
26,6141,SDS011,3102,51.468,7.016,2017-11-12 17:03:31.000,11.37,NaN,NaN,6.40,NaN,NaN,NaN,NaN,NaN,None,None
27,2976,SDS011,1498,51.500,7.440,2017-12-18 19:12:52.000,22.73,NaN,NaN,16.40,NaN,NaN,NaN,NaN,NaN,None,None
28,4638,SDS011,2332,38.647,-9.155,2017-09-22 03:17:34.000,19.10,NaN,NaN,3.50,NaN,NaN,NaN,NaN,NaN,None,None
29,2440,SDS011,1231,53.989,9.470,2017-09-06 14:19:47.000,2.03,NaN,NaN,0.63,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,528,DHT22,250,47.713,7.507,2017-12-24 02:23:59.000,NaN,NaN,NaN,NaN,NaN,NaN,9.20,52.70,NaN,None,None
74,3528,DHT22,1778,47.966,7.855,2017-08-11 20:16:54.000,NaN,NaN,NaN,NaN,NaN,NaN,14.70,88.40,NaN,None,None
75,5464,DHT22,2754,52.486,13.386,2017-12-10 14:42:39.000,NaN,NaN,NaN,NaN,NaN,NaN,0.40,93.50,NaN,None,None
76,5254,DHT22,2649,36.847,-2.472,2018-01-01 12:57:05.000,NaN,NaN,NaN,NaN,NaN,NaN,18.40,45.20,NaN,None,None
77,1101,DHT22,537,42.672,23.288,2017-05-31 19:49:58.000,NaN,NaN,NaN,NaN,NaN,NaN,24.10,32.10,NaN,None,None
78,5536,DHT22,2790,51.661,8.336,2017-10-16 19:31:11.000,NaN,NaN,NaN,NaN,NaN,NaN,19.50,82.50,NaN,None,None
79,3420,DHT22,1723,48.855,9.291,2017-09-07 21:58:21.000,NaN,NaN,NaN,NaN,NaN,NaN,14.70,99.90,NaN,None,None
80,788,DHT22,377,42.708,23.312,2017-11-11 02:24:06.000,NaN,NaN,NaN,NaN,NaN,NaN,7.80,86.40,NaN,None,None
81,3186,DHT22,1604,53.701,10.251,2017-10-26 21:49:11.000,NaN,NaN,NaN,NaN,NaN,NaN,11.70,95.20,NaN,None,None
82,965,DHT22,470,50.000,8.433,2017-09-23 09:33:27.000,NaN,NaN,NaN,NaN,NaN,NaN,24.90,66.00,NaN,None,None
83,3788,DHT22,1909,53.046,8.277,2017-08-07 20:29:39.000,NaN,NaN,NaN,NaN,NaN,NaN,23.10,62.90,NaN,None,None
84,1940,DHT22,1232,48.008,7.863,2017-07-17 19:37:51.000,NaN,NaN,NaN,NaN,NaN,NaN,26.10,52.40,NaN,None,None
85,5671,DHT22,2858,51.197,6.410,2017-10-09 04:15:53.000,NaN,NaN,NaN,NaN,NaN,NaN,12.20,76.50,NaN,None,None
86,3150,DHT22,1585,47.737,8.975,2017-11-04 05:29:21.000,NaN,NaN,NaN,NaN,NaN,NaN,7.60,76.10,NaN,None,None
87,3719,DHT22,1875,52.492,6.859,2017-08-03 01:14:35.000,NaN,NaN,NaN,NaN,NaN,NaN,17.40,94.40,NaN,None,None
88,3376,DHT22,1701,51.957,7.599,2017-08-05 04:40:19.000,NaN,NaN,NaN,NaN,NaN,NaN,17.20,95.60,NaN,None,None
89,907,DHT22,440,51.268,7.141,2017-06-22 09:58:25.000,NaN,NaN,NaN,NaN,NaN,NaN,39.60,25.70,NaN,None,None
90,2661,DHT22,1340,53.519,9.984,2017-09-30 15:27:58.000,NaN,NaN,NaN,NaN,NaN,NaN,17.60,99.90,NaN,None,None
91,4967,SDS011,2510,50.930,6.939,2017-09-04 09:18:44.000,13.93,NaN,NaN,7.20,NaN,NaN,NaN,NaN,NaN,None,None
92,1239,DHT22,609,52.515,6.088,2017-10-17 11:23:11.000,NaN,NaN,NaN,NaN,NaN,NaN,18.20,87.90,NaN,None,None
93,5651,DHT22,2847,52.333,9.802,2017-09-25 13:28:10.000,NaN,NaN,NaN,NaN,NaN,NaN,16.40,80.20,NaN,None,None
94,2414,SDS011,1218,53.464,9.954,2017-06-20 21:46:36.000,5.00,NaN,NaN,2.70,NaN,NaN,NaN,NaN,NaN,None,None
95,4390,DHT22,2209,48.982,8.406,2017-11-19 16:17:47.000,NaN,NaN,NaN,NaN,NaN,NaN,18.40,37.20,NaN,None,None
96,2561,DHT22,1290,53.547,9.967,2017-10-21 14:28:10.000,NaN,NaN,NaN,NaN,NaN,NaN,12.50,99.90,NaN,None,None
97,5394,DHT22,2720,52.397,10.064,2017-11-18 13:55:52.000,NaN,NaN,NaN,NaN,NaN,NaN,6.00,93.70,NaN,None,None
98,3380,DHT22,1703,51.965,7.643,2017-10-10 22:31:24.000,NaN,NaN,NaN,NaN,NaN,NaN,15.00,99.90,NaN,None,None
99,3590,DHT22,1809,48.470,9.227,2017-12-22 17:40:03.000,NaN,NaN,NaN,NaN,NaN,NaN,7.20,99.90,NaN,None,None
100,4583,SDS011,2304,47.606,12.186,2017-08-30 09:51:04.000,7.50,NaN,NaN,6.13,NaN,NaN,NaN,NaN,NaN,None,None
101,3241,SDS011,1633,50.103,8.663,2017-09-11 17:56:50.000,5.27,NaN,NaN,1.60,NaN,NaN,NaN,NaN,NaN,None,None
102,3322,DHT22,1673,51.388,7.087,2017-08-17 08:15:33.000,NaN,NaN,NaN,NaN,NaN,NaN,24.50,58.50,NaN,None,None

In [5]:
df.select("temperature").describe().toPandas()

  summary         temperature
0   count           302815692
1    mean   15.84527873837482
2  stddev  359.22878473666987
3     min              -147.6
4     max             65536.0

In [6]:
ts_trans = TimestampTransformer(
    inputCol="timestamp",
    outputCol="datedim"
)

gh_trans = GeohashTransformer(
    inputCols=["lat", "lon"],
    outputCol="geohash"
)

pipeline = Pipeline(stages=[ts_trans, gh_trans])
model = pipeline.fit(df)
transformed_data = model.transform(df)

#transformed_data.select("datedim.holiday").where("datedim.holiday = 1").show(10, False)
transformed_data.printSchema()

root
 |-- sensor_id: integer (nullable = true)
 |-- sensor_type: string (nullable = true)
 |-- location: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- P1: double (nullable = true)
 |-- durP1: double (nullable = true)
 |-- ratioP1: double (nullable = true)
 |-- P2: double (nullable = true)
 |-- durP2: double (nullable = true)
 |-- ratioP2: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- altitude: double (nullable = true)
 |-- pressure_sealevel: double (nullable = true)
 |-- datedim: struct (nullable = true)
 |    |-- year: integer (nullable = true)
 |    |-- month: integer (nullable = true)
 |    |-- day: integer (nullable = true)
 |    |-- day_of_week: integer (nullable = true)
 |    |-- weekend: integer (nullable = true)
 |    |-- holiday: integer (nullable = true)
 |    |-- day_cat: string (nullable = true)
 |    |-- day_num: double (nullable = true)
 |    |-- day_cos: double (nullable = true)
 |    |-- day_sin: double (nullable = true)
 |    |-- time_cat: string (nullable = true)
 |    |-- time_bin: integer (nullable = true)
 |    |-- hour_bin: integer (nullable = true)
 |    |-- min_bin: integer (nullable = true)
 |    |-- time_num: double (nullable = true)
 |    |-- time_cos: double (nullable = true)
 |    |-- time_sin: double (nullable = true)
 |-- geohash: struct (nullable = true)
 |    |-- hash: string (nullable = true)
 |    |-- hash_u64: string (nullable = true)
 |    |-- hash_bin: string (nullable = true)

In [7]:
transformed_data.count()

649471354

In [8]:
lat_bounds = (48.3, 49.1)
lon_bounds = (8.9, 9.5)
stuttgart_data = transformed_data.where("lat > %s" % lat_bounds[0]) \
                                 .where("lat < %s" % lat_bounds[1]) \
                                 .where("lon > %s" % lon_bounds[0]) \
                                 .where("lon < %s" % lon_bounds[1])
stuttgart_data.count()

174865832

In [9]:
min_stuttgart_year = stuttgart_data.agg({"datedim.year": "min"}).collect()[0][0]
min_stuttgart_year

2015

In [10]:
stuttgart_data.select("geohash.hash").distinct().show()

+------------+
|        hash|
+------------+
|u0wtfh1hdd6g|
|u0wkvnf6dvf1|
|u0ww1qw0sezv|
|u0wkuezmmr1m|
|u0wmqg0byrqr|
|u0w7yqu96m40|
|u0ws16g1xd15|
|u0wwrpgrwc7t|
|u0wt6pn1jsw6|
|u0wt2z3hbcrv|
|u0wt2kejqm0q|
|u0wmr23xqmsq|
|u0wmxmzw8b39|
|u0wkuz0nkde5|
|u0wx5rb6svs5|
|u0wth1wzzs3s|
|u0wt2p5nvzn0|
|u0wkvq714qw1|
|u0ww10826h23|
|u0wkvnehf57g|
+------------+
only showing top 20 rows

In [19]:
def find_closest_hash(haystack, needle):
    prefix_length = [len(osp.commonprefix([needle, h])) for h in haystack]
    return haystack[prefix_length.index(builtins.max(prefix_length))]

def find_hashes(geo_df):
    return [r[0] for r in geo_df.select("geohash.hash").distinct().collect()]

In [20]:
temp_df = sess.read.parquet("./dwd/temp.parquet").where("datedim.year >= %d" % min_stuttgart_year)
pert_df = sess.read.parquet("./dwd/precipitation.parquet").where("datedim.year >= %d" % min_stuttgart_year)
cloud_df = sess.read.parquet("./dwd/cloudiness.parquet").where("datedim.year >= %d" % min_stuttgart_year)
sun_df = sess.read.parquet("./dwd/sun.parquet").where("datedim.year >= %d" % min_stuttgart_year)
wind_df = sess.read.parquet("./dwd/wind.parquet").where("datedim.year >= %d" % min_stuttgart_year)

temp_hashes = find_hashes(temp_df)
pert_hashes = find_hashes(pert_df)
cloud_hashes = find_hashes(cloud_df)
sun_hashes = find_hashes(sun_df)
wind_hashes = find_hashes(wind_df)

closest_temp_station_udf  = udf(lambda needle: find_closest_hash(temp_hashes, needle))
closest_pert_station_udf  = udf(lambda needle: find_closest_hash(pert_hashes, needle))
closest_cloud_station_udf = udf(lambda needle: find_closest_hash(cloud_hashes, needle))
closest_sun_station_udf   = udf(lambda needle: find_closest_hash(sun_hashes, needle))
closest_wind_station_udf  = udf(lambda needle: find_closest_hash(wind_hashes, needle))

print(len(temp_hashes))
print(len(pert_hashes))
print(len(cloud_hashes))
print(len(sun_hashes))
print(len(wind_hashes))

8
9
2
6
3

In [21]:
stuttgart_data = stuttgart_data.withColumn("closest_temp_station",  closest_temp_station_udf(col("geohash.hash"))) \
                               .withColumn("closest_pert_station",  closest_pert_station_udf(col("geohash.hash"))) \
                               .withColumn("closest_cloud_station", closest_cloud_station_udf(col("geohash.hash"))) \
                               .withColumn("closest_sun_station",   closest_sun_station_udf(col("geohash.hash"))) \
                               .withColumn("closest_wind_station",  closest_wind_station_udf(col("geohash.hash")))

In [14]:
_4741_data = stuttgart_data \
            .where("sensor_id = 4741") \
            .where("datedim.year = 2017") \
            .where("datedim.month = 2") \
            .where("datedim.day = 1")

In [22]:
def join_dwd_data(data_df, dwd_df, closest_station_column):
    join_cond = [data_df["datedim.year"] == dwd_df["datedim.year"], 
                 data_df["datedim.month"] == dwd_df["datedim.month"],
                 data_df["datedim.day"] == dwd_df["datedim.day"],
                 data_df["datedim.hour_bin"] == dwd_df["datedim.hour_bin"],
                 data_df[closest_station_column] == dwd_df["geohash.hash"]]
    
    return data_df.alias("d") \
                  .join(broadcast(dwd_df).alias("w"), join_cond, how='left') \
                  .drop(col("w.STATIONS_ID")) \
                  .drop(col("w.datedim")) \
                  .drop(col("w.geohash")) \
                  .drop(col("w.MESS_DATUM")) \
                  .drop(col("w.TIMESTAMP")) \
                  .drop(col("w.geoBreite")) \
                  .drop(col("w.geoLaenge")) \
                  .drop(col("w.Stationshoehe")) \
                  .drop(col("w.Stationsname"))

In [23]:
ext_df = join_dwd_data(stuttgart_data, temp_df, "closest_temp_station")
ext_df = join_dwd_data(ext_df, pert_df, "closest_pert_station")
ext_df = join_dwd_data(ext_df, cloud_df, "closest_cloud_station")
ext_df = join_dwd_data(ext_df, sun_df, "closest_sun_station")
ext_df = join_dwd_data(ext_df, wind_df, "closest_wind_station")
ext_df = ext_df \
            .withColumn("dwddim", struct("TT_TU", "RF_TU", "R1", "RS_IND", "WRTR", 
                                         "V_N_I", "V_N", "SD_SO", "F", "D")) \
            .drop("QN_9", "QN_8", "QN_7", "QN_3") \
            .drop("TT_TU", "RF_TU", "R1", "RS_IND", "WRTR", 
                  "V_N_I", "V_N", "SD_SO", "F", "D") \
            .drop("closest_temp_station") \
            .drop("closest_pert_station") \
            .drop("closest_sun_station") \
            .drop("closest_cloud_station") \
            .drop("closest_wind_station")
            
ext_df.printSchema()

#select("datedim.year", "datedim.month", "datedim.day", "datedim.hour_bin").show()

root
 |-- sensor_id: integer (nullable = true)
 |-- sensor_type: string (nullable = true)
 |-- location: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- P1: double (nullable = true)
 |-- durP1: double (nullable = true)
 |-- ratioP1: double (nullable = true)
 |-- P2: double (nullable = true)
 |-- durP2: double (nullable = true)
 |-- ratioP2: double (nullable = true)
 |-- temperature: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- altitude: double (nullable = true)
 |-- pressure_sealevel: double (nullable = true)
 |-- datedim: struct (nullable = true)
 |    |-- year: integer (nullable = true)
 |    |-- month: integer (nullable = true)
 |    |-- day: integer (nullable = true)
 |    |-- day_of_week: integer (nullable = true)
 |    |-- weekend: integer (nullable = true)
 |    |-- holiday: integer (nullable = true)
 |    |-- day_cat: string (nullable = true)
 |    |-- day_num: double (nullable = true)
 |    |-- day_cos: double (nullable = true)
 |    |-- day_sin: double (nullable = true)
 |    |-- time_cat: string (nullable = true)
 |    |-- time_bin: integer (nullable = true)
 |    |-- hour_bin: integer (nullable = true)
 |    |-- min_bin: integer (nullable = true)
 |    |-- time_num: double (nullable = true)
 |    |-- time_cos: double (nullable = true)
 |    |-- time_sin: double (nullable = true)
 |-- geohash: struct (nullable = true)
 |    |-- hash: string (nullable = true)
 |    |-- hash_u64: string (nullable = true)
 |    |-- hash_bin: string (nullable = true)
 |-- dwddim: struct (nullable = false)
 |    |-- TT_TU: double (nullable = true)
 |    |-- RF_TU: double (nullable = true)
 |    |-- R1: double (nullable = true)
 |    |-- RS_IND: long (nullable = true)
 |    |-- WRTR: long (nullable = true)
 |    |-- V_N_I: string (nullable = true)
 |    |-- V_N: long (nullable = true)
 |    |-- SD_SO: double (nullable = true)
 |    |-- F: double (nullable = true)
 |    |-- D: long (nullable = true)

In [25]:
ext_df.limit(10).toPandas()

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2,temperature,humidity,pressure,altitude,pressure_sealevel,datedim,geohash,dwddim
0,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:02,26.50,None,None,18.00,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
1,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:05,27.35,None,None,17.80,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
2,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:09,27.25,None,None,17.95,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
3,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:13,27.30,None,None,18.10,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
4,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:17,26.90,None,None,18.00,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
5,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:21,26.77,None,None,18.00,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
6,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:24,26.60,None,None,18.00,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
7,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:28,26.45,None,None,17.90,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
8,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:32,26.55,None,None,17.90,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."
9,4740,SDS011,2384,48.745,9.118,2017-09-21 00:00:36,25.90,None,None,17.70,None,None,None,None,None,None,None,"(2017, 9, 21, 3, 0, 0, Thursday, 0.42931547619...","(u0wmr3z80y9e, 15004089122820690642, u0wmr3z8)","(4.5, 100.0, 0.0, 0, -999, P, 0, None, 0.6,..."

In [26]:
ext_df.write.mode("overwrite").parquet('./stgt_sensors_with_date_geo_dwd.parquet')